<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>app Juego</title>
	 <link rel="stylesheet" href="/css/bootstrap.css"/>
	 <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
	 <link rel="stylesheet" href="/css/ionicons.css"/>
	 <link rel="stylesheet" href="/css/app.css"/>
</head>
<body class="container">
	<h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Game Vamp nombre</h1>
	<div class="col-md-12">
		<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 imagen-caracter--select text-center">
			<a href="javascript:;" >
				<span class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Vampiro</span>
				<img src="" alt="vampiro" class="img-thumbnail">
			</a>
		</div>
		<div id="check-inicio">
			<label >Selecciona si inicias como humano o vampiro</label> <br>
			<input type="radio" name="inicioPersonaje" value="humano"> Humano<br>
			<input type="radio" name="inicioPersonaje" value="Vampiro" checked> Vampiro<br>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				Nombre 
				<input type="text" name="nomb" value="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="nombre">
			</label>
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2>Tipo de Clan</h2>
				{{> seleccionClan  }}
				<h2>Generacion</h2>
				<p>{{generacion}}</p>
				
				<p id="descripcionClan"></p>
				<!-- seccion atributos-->
				<section>
					<h2>Atributos</h2>
					<br>
					<hr>
					<br>
					{{> datosAtributos}}
					
					<br>
					<hr>
					<br>
				</section>
				<!-- seccion habilidades-->
				<section>
					<h2>Habilidades</h2>
					<br>
					<hr>
					<br>
					{{> datosHabilidades}}
				</section>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<button type="button" class="btn btn-success pull-right" id="btnCrear">Crear</button>				
			</div>
		</div>
	</div>

</body>
	
	<script src="/js/handlebars.runtime.js" type="text/javascript" ></script>
	<script src="/js/handlebars.js" type="text/javascript" ></script>
	<script src="/js/fichaGeneral.js" type="text/javascript" ></script>
	<script src="/js/etapasPersonaje.js" type="text/javascript" ></script>
	<script src="/js/manejosDeDatos.js" type="text/javascript" ></script>
	<script src="/js/app.js" type="text/javascript" ></script>
	
</html>